@font-face{
    font-family: 'JetBrainsMono';
    font-display: swap;
    src: url('../font/JetBrainsMono-Italic-VariableFont_wght.ttf') format("truetype");
}

body {
    font-family: "Microsoft YaHei", 'JetBrainsMono';
}